# 01. Importing Libraries

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os

# 02. Defining the Paths

In [5]:

df = pd.read_csv(r'C:\Users\Jimadek\30-03-23 IC Task 4.3\02 Data\Original Data\orders.csv',index_col = False)

In [6]:
df = pd.read_csv(r'C:\Users\Jimadek\30-03-23 IC Task 4.3\02 Data\Original Data\products.csv',index_col = False)

In [7]:
df = pd.read_csv(r'C:\Users\Jimadek\02-04-23 IC Task 4.4\02 Data\Original Data\departments.csv',index_col = False)

In [8]:
path = r'C:\Users\Jimadek\30-03-23 IC Task 4.3'

In [9]:
df_dep_path = r'C:\Users\Jimadek\02-04-23 IC Task 4.4'

In [10]:
df_dep_path

'C:\\Users\\Jimadek\\02-04-23 IC Task 4.4'

# 03. Import Data Order.csv

In [11]:
# import data orders.csv
df_orders = pd.read_csv(os.path.join(path, '02 Data','Original Data','orders.csv'))

In [12]:
# View data orders.csv
df_orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [13]:
# Drop the eval_set column
df_orders.drop(columns =['eval_set'])

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [14]:
df_orders_2 = df_orders.drop(columns = ['eval_set'])

In [16]:
# Detect missing values
df_orders_2['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [17]:
# Detect missing values
df_orders_2['order_hour_of_day'].value_counts(dropna = False)

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

In [18]:
df_orders_2.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [19]:
df_orders_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [ ]:
#Renaming Columns
df_orders.rename(columns = {'order_dow':'order_day_of_week'}, inplace = True)

In [ ]:
df_orders.head(20)

In [ ]:
# Check the frequency
df['order_hour_of_day'].value_counts

# 04. Import Data Product.csv

In [21]:
# import data orders.csv
df_prods = pd.read_csv(os.path.join(path, '02 Data','Original Data','products.csv'))

In [22]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
# Find missing values in product.csv
df_prods['department_id'].value_counts(dropna = False)

11    6565
19    6264
13    5371
7     4365
1     4007
16    3449
17    3085
15    2092
9     1858
4     1684
3     1516
20    1322
21    1258
6     1139
14    1116
18    1081
5     1056
8      972
12     907
2      548
10      38
Name: department_id, dtype: int64

In [24]:
# Change data types of 'order_id' from int to str
df_orders_2['order_id'] = df_orders_2['order_id'].astype(str)

In [25]:
df_orders_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 156.6+ MB

In [ ]:
df_orders_2['order_id'].dtype

In [ ]:
   # Importing data department.csv
df_dep = pd.read_csv (r'C:\Users\Jimadek\02-04-23 IC Task 4.4\02 Data\Original Data\departments.csv',index_col = False)

In [ ]:
df_dep_path = r'C:\Users\Jimadek\02-04-23 IC Task 4.4'

In [ ]:
df_dep_path

In [ ]:
df_dep.head()

In [ ]:
#Transposing df_dep
df_dep.T

In [ ]:
df_dep

In [ ]:
df_dep.T

In [ ]:
df_dep_t = df_dep.T

In [ ]:
df_dep_t

In [ ]:
# Adding and Index to the dataframe
df_dep_t.reset_index()

In [ ]:
# Take the first row of df_dep_t as the header
new_header = df_dep_t.iloc[0]

In [ ]:
new_header

In [ ]:
# creating new df for row beyond 2nd row
df_dep_t_new = df_dep_t[1:]

In [ ]:
df_dep_t_new

In [ ]:
df_dep_t_new.columns = new_header

In [ ]:
df_dep_t_new

In [ ]:
# Changing df_dep_t_new to a data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
df_prods.head()

In [ ]:
print (data_dict.get('19'))

In [ ]:
print (data_dict.get('13'))

In [ ]:
df_prods['department_id']==19

In [ ]:
df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks =  df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

# 05. Data Wrangling

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
df_ords = pd.read_csv(r'C:\Users\Jimadek\02-04-23 IC Task 4.4\02 Data\Original Data\orders.csv',index_col = False)

In [ ]:
path = r'C:\Users\Jimadek\02-04-23 IC Task 4.4'

In [ ]:
path

In [ ]:
# import data orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data','Original Data','orders.csv'))

In [ ]:
# View data orders.csv
df_orders.head()

In [ ]:
# Drop column eval_set
df_ords.drop(columns = ['eval_set'])

In [ ]:
# Rename dataframe order.csv
df_ords_2 = df_ords.drop(columns = ['eval_set'])

In [ ]:
#02. Change data types of 'user_id' from int to str
df_ords_2['user_id'] = df_ords_2['user_id'].astype(str)

In [ ]:
df_ords_2['user_id'].dtype

In [ ]:
#03. Changing ununintuitive name
df_ords_2.rename(columns = {'days_since_prior_order':'days_from_last_order'}, inplace = True)

In [ ]:
df_ords_2.head()

In [ ]:
#04. Determining the busiest hour for placing orders
df_ords_2 ['order_hour_of_day'].value_counts

In [ ]:
# busiest hour is 23 and the freqency of the corresponding variable is 100.
df_ords_2.describe()

In [ ]:
# 05. The meaning behind a value of 4 in the "department_id" column within the df_prods dataframe.
df_prods[df_prods['department_id']==4]

In [ ]:
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
print (data_dict.get('4'))

In [ ]:
# 06. Create a subset containing only breakfast item sales (i.e No. 14).
df_breakfast = df_prods[df_prods['department_id']==14]

In [ ]:
df_breakfast

In [ ]:
# 07. All observations from the entire dataframe that include: alcohol(5), deli(20), beverages(7), and meat/seafood(12).
df_dinner_parties=df_prods[df_prods['department_id']==5]

In [ ]:
#alcohol(5)
df_prods[df_prods['department_id']==5]

In [ ]:
#Beverages(7)
df_prods[df_prods['department_id']==7]

In [ ]:
#Meat/Seafood(12)
df_prods[df_prods['department_id']==12]

In [ ]:
#Deli(20)
df_prods[df_prods['department_id']==20]

In [ ]:
df_dinner_Parties=df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [ ]:
df_dinner_Parties

In [ ]:
#08. Extract all the information you can about customer with a "user_id" of “1.”
Customer_1 = df_orders[df_orders['user_id']==1]

In [ ]:
Customer_1

In [ ]:
# Customer 
Customer_1.describe()

In [ ]:
#10. Some details about this user’s behavior. 
Customer_1 loves to shop mostly in the morning around 7am and 8am usually on Wednesdays and Sundays.
Customer _1 shopped 11 times in total but mostly twice a month.

In [ ]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [ ]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'department_wrangled.csv'))